<!DOCTYPE html>
<html>
  <head>
    <title>Express Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="box-container">
      <h1>Express Skills</h1>
      <nav>
        <a href="/skills">Skills List</a>
      </nav> 
