<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <li><a href="/skills">My Dev Skills</a></li>
    </ul>
  </body>
</html>